@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --bg-color: #358165;
    --primary-size: 32px;
    --secondary-size: 20px;
    --secondary-color: #FFFFFF;
    --color-text: #232323;
    --standart-margin: 48px;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

li {
    list-style-type: none;
}

.container {
    display: flex;
}

/* start info styles */
.info {
    background-color: var(--bg-color);
}

.info_img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: var(--standart-margin);
    border-radius: 50%;
}

.info_name {
    margin-left: var(--standart-margin);
    font-size: var(--primary-size);
    color: var(--secondary-color);
}

.info_job {
    color: #D7D7D7;
    margin-left: var(--standart-margin);
}

.data {
    margin: var(--standart-margin);
}

.data_desc {
    margin-bottom: 0px;
    position: absolute;
    transition: 0.5s;
}

.data_item {
    background-color: var(--secondary-color);
    margin-top: var(--standart-margin);
    padding: calc(var(--secondary-size) - 8px);
    border-radius: 4px;
    position: relative;
}

.data_item:hover .data_desc {
    transform: translateY(-35px);
    color: white;

}


.data_info {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.data_item:hover .data_info {
    opacity: 1;
    visibility: visible;
}

.data-item:first-child {
    margin-top: 0px;
}

.skills {
    margin: var(--standart-margin);
}

.title {
    margin-top: var(--standart-margin);
    color: var(--secondary-color)
}

.skills_list {
    margin-left: calc(var(--secondary-size) - 8px);
    color: var(--secondary-color);
}

.skills_item {
    list-style-type: disc;
    margin-top: calc(var(--secondary-size) - 4px);
}

.hobbies {
    margin: var(--standart-margin);
}

.hobbies_item {
    margin-top: calc(var(--standart-margin) - 32px);
    color: var(--secondary-color);
}

.social {
    margin: var(--standart-margin);
}

.social_icon {
    margin-top: calc(var(--secondary-size) - 8px);
    width: calc(var(--primary-size) - 8px);
    height: calc(var(--primary-size) - 8px);
    margin-right: 16px;
}

/* finish info styles */

/* start about styles */
.about {
    margin: var(--standart-margin);
}

.about_item {
    margin-top: calc(var(--standart-margin) - 32px);
}

.education_wrapper {
    margin-top: var(--standart-margin);
}

.education {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--standart-margin) - 32px);
    gap: 20px;

}

.education_year {
    width: 100%;
}

.education_info {
    margin-top: var(--standart-margin);
    list-style-type: circle;
}

.education_info:first-child {
    margin-top: 0px;
}

.education:last-child {
    margin-top: calc(var(--standart-margin) + 32px);
}

.companies_wrapper {
    margin: 80px 0;
}

.companies {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 24px;
}

.title_dark {
    margin-bottom: calc(var(--standart-margin) + 32px);
}

.logo {
    width: 32px;
    margin-right: 16px;
}

.project_title {
    margin-bottom: calc(var(--standart-margin) + 32px);
}

.project_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 40px;
}

.project_card {
    max-width: 200px;
    padding-bottom: 20px;
    transition: 0.3s;
}

.project_card:hover {
    transform: scale(1.1);
}

.project_card img {
    width: 100%;
    max-height: 150px;
    margin-bottom: 15px;
}

.project_card_title {
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
}